button{
    
    width: 15%;
    height: 25px;
   
    margin-left: 10%;
    margin-right: auto;
    margin-top: 20%;
    text-align: center;
    
}


.login__form {
    display: inline-block;
    background-color: yellow;
    display: flex;
    flex-direction: column;
}