/* Css for UserTag*/

/* .userTag{
  position: relative;
  color: white;
  display: block;
  text-align: right;
  padding-right: 40px;
} */

/* Add a black background color to the top navigation */
.nav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin: 5px;
  text-decoration: none;
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}

/* Change the color of links on hover */
.nav a:hover {
  background-color: whitesmoke;
  color: black;
}


/* Add a color to the active/current link */
.nav a.active {
  background-color: #4CAF50;
  color: white;
 
}

.UserP {
  color: white;
  display: block;
  text-align: right;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* 
.UserA{
  position: relative;
  color: white;
 display: block;
  text-align: right;
  padding-right: 40px;
  max-height: 30px;
} */

.DivForUserInfo  {
  padding: 10px;
  margin-right: 10px;
}
