/* .purchase {
    border: 2px solid black;
    max-width: 40%;
    margin: 10px;
    padding: 5px;
    
} */

.purchaseTable {
    /* border: 5px double black; */
    background-color: whitesmoke;
    width: 30%;
    border-collapse: collapse;
    margin: 10px;
    padding: 5px;
}



.purchaseTable th {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    margin: 5px;
    text-align: left;
    height: 70px;
}

.purchaseTable td {
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    margin: 5px;
}

.purchaseTable, th, td {
    border: 2px solid black;
  }

  .Filtering {
    
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px auto;
    grid-gap: 10px;
  
    color: #444;
    
  }

  .fromDate {
    
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .toDate {
    
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .button {
    text-align: center;
    font-size: large;
    grid-column-start: 3;
    grid-row-start: 2;
  }

  .toDateLabel{
      font-size: large;
      font-style: bold;
    grid-column-start: 2;
  }

  .fromDateLabel {
    grid-column-start: 1;
  }
  
  .purchase-container{
    grid-row-start: 3;
  }
 
