.ccm__createcategory {
    display: flex;
    flex-direction: column;
  
  }
  
  .ccm__SubmitCategory {
    margin-top: 20px;
  }

  .ccm__categorytext {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 48px;
}